.gap {
  --g: 10px;
  gap: var(--g);
}
.h {
  --h: 180px;
  height: var(--h);
}
.h-100vh {
  height: 100vh;
}
.shadow-md {
  box-shadow: 10px 10px 15px -15px #000;
}
.square {
  width: 110px;
  height: 110px;
}
.zigzag {
  background: linear-gradient(-135deg, #ffffff 5px, transparent 0) 0 5px,
    linear-gradient(135deg, #ffffff 5px, black 0) 0 5px;
  background-color: #ffffff;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
}
.grid {
  display: grid;
}
.column {
  grid-auto-flow: column;
}
.n1 {
  grid-area: n1;
}
.n2 {
  grid-area: n2;
}
.n3 {
  grid-area: n3;
}
.n4 {
  grid-area: n4;
}
.n5 {
  grid-area: n5;
}
.n6 {
  grid-area: n6;
}
.n7 {
  grid-area: n7;
}
.n8 {
  grid-area: n8;
}
.n9 {
  grid-area: n9;
}
.n0 {
  grid-area: n0;
}
.c {
  grid-area: c;
}
.point {
  grid-area: point;
}
.calc {
  grid-template-areas:
    "n0 n1 n2 n3"
    "c n4 n5 n6"
    "point n7 n8 n9";
}
.p {
  --p: 4px 10px;
  padding: var(--p);
}
.g-row {
  grid-auto-flow: row;
}
.grow-3 {
  flex-grow: 3;
}
.g-columns {
  --c: 3fr 1fr 1fr;
  grid-template-columns: var(--c);
}
.g-rows {
  --r: 40px 40px 40px;
  grid-template-rows: var(--r);
}
.bg-black {
  background-color: black !important;
}

.text-black {
  color: black;
}
.fs-s {
  font-size: 13px;
}
.strong {
  font-weight: 700;
}
.btn-black {
  color: white;
  background-color: black;
  border-color: hsl(0, 0%, 5%);
}
.btn-black:hover {
  color: white;
  background-color: hsl(0, 0%, 10%);
  border-color: hsl(0, 0%, 10%);
}
.border-left-black {
  border-left: 0.25rem solid #000 !important;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.print {
  display: none;
}

@media print {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  .screen {
    display: none !important;
  }
  .print {
    display: block;
  }
}
