.gap {
  gap: 10px;
}
.h-100vh {
  height: 100vh;
}
.shadow-md {
  box-shadow: 10px 10px 15px -15px #3a3b45;
}
.square {
  width: 110px;
  height: 110px;
}
.zigzag {
  background: linear-gradient(-135deg, #ffffff 5px, transparent 0) 0 5px,
    linear-gradient(135deg, #ffffff 5px, black 0) 0 5px;
  background-color: #ffffff;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
}
.grid {
  display: grid;
}
.column {
  grid-auto-flow: column;
}
.g-columns {
  --c: 3fr 1fr 1fr;
  grid-template-columns: var(--c);
}
.bg-black {
  background-color: black;
}
.text-black {
  color: black;
}
.fs-s {
  font-size: 13px;
}
.strong {
  font-weight: 700;
}
